body{
background-image: url("https://c.pxhere.com/photos/40/66/drawing_pad_note_pad_white_background_pen_blank_pad_business_paper-652303.jpg!d");
background-size: cover;
background-position: center;
background-repeat: no-repeat;
background-attachment: fixed;
}

#header {
    opacity: 0.6;
    background-color:#ce6114;
}

ul{
    font-weight: 800;
}

.fa-check-circle{
    background-color: green;
    float: right;
}
.fa-trash{
    background-color: red;
    float: right;
}
.fa-arrow-circle-left{
    background-color: blue;
        float: right;
}

#doList li {
    border:2px black solid;
    display:block;
    height:auto;
    width:300px;
    border-radius:30px;
    margin-bottom: 10px; 
    font-weight: 400;
}

#doList {
    position:relative;
    text-align: center;
    top: 35px;
    right: 55px;
    padding: 16px;
}


#InputToDo{
    display:inline-block;
}

#InputBtn{
    display:inline-block;
}

#doneList li {
    border:2px black solid;
    display:block;
    height:auto;
    width:300px;
    border-radius:30px;
    margin-bottom: 10px; 
    font-weight: 400;
}

#doneList {
    position:relative;
    top:80px;
    text-align: center;
    right: 55px;
    padding: 16px;
}

#container{
    margin: auto;
    width: 25%;
}